/* Put your CSS here */
header {
  background-color: inherit;
}

body {
  background-color: pink;
}

#page-title {
  color: orange;
}

.food-image {
  display: flex;
  flex: 0 1 auto;
}

.menu {
  display: flex;
  flex-direction: column;
}

.list-text {
  font-family: 'Big Shoulders Display';
  display: flex;
  flex: 1 1 auto;
}

.place {
  display: flex;
  flex-direction: row-reverse;
}

.place-image {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 auto;
  height: 250px;
  width: 275px;
}

.sad-image:hover {
  transform: translate(120px, 150%);
  transition: transform 133ms;
}

.sad-image {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 0 auto;
  height: 250px;
  width: 275px;
}
