/* Put your CSS here */
header {
  background-color: inherit;
}

body {
  background-color: white;
}

#page-title {
  color: orange;
}

.food-image {
  display: block;
  width: 350px;
  height: 350px;
  margin: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.list-text {
  font-family: 'Big Shoulders Display';
  display: block;
  width: 450px;
}

.place {
  display: flex;
  flex-direction: row-reverse;
}

.place-image {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 auto;
  height: 250px;
  width: 275px;
}


.food-container {
  display: flex;
  flex-wrap: wrap;
}
