/* Put your CSS here */
header {
  background-color: inherit;
  color: orange;
}

body {
  background-color: red;
}

.food-image {
  display: flex;
  flex: 1 1 auto;
}

.list-text {
  display: flex;
  flex: 0 1 auto;
}
